@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;

}

.calculadora {
    width: 300px;
    background-color: #8f8f8f;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #d3d3d448;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;

}

.result {
    height: 75px;
    padding: 20px;
    text-align: right;
    color: #fff;
    font-size: 2.5rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1px;

}

.buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 1.5 rem;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

#zero {
    grid-column: span 2;
  }
  
.bg-gray {
    background-color: #555454;
}

.bg-light-gray {
    background-color: #686868;
}

button:active{
    opacity: 0.9;
}

.bg-purple {
    background-color: #483d8b;
}



/*/github/*/



.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(31, 31, 31);
    overflow: hidden;
  }
  
  .svgIcon {
    transition-duration: .3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
  }
  
  .Btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
  }
  
  .Btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
  }
  
  .Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
  }
 .button {
  position: relative;
  list-style: none;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: grab;
}

.button .svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.3s;
}

.button .svg2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  fill: #f4af03;
  opacity: 0;
  transition: opacity 0.3s;
}

.button:hover .svg {
  fill: #f4af03;
}

.button:hover .svg2 {
  opacity: 1;
  fill: #f4af03;
}



